// #chrome-extension-content-base-element-ethereum {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: none;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
// }
@import url('https://fonts.font.im/css?family=Noto+Sans+SC:100,300,400,500,700,900');
@import url('https://fonts.font.im/css?family=Open+Sans:300,400,700,800');


.notification-zh {
  font-family: Noto Sans SC, sans-serif;
}
.notification-en {
  font-family: Open Sans, sans-serif;
}

.svg-control {
  svg {
    color: #8c8c8c;
    margin-bottom: 0 !important;
  }
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.careful-auth-en {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.careful-auth-zh {
  font-family: Noto Sans SC, sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}

.warning-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffd600;
  border: 1px solid transparent;
  border-radius: 0.455rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #241500;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 168px;
}

.warning-button:hover,
.warning-button:focus {
  background-color: #fedb2b;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.warning-button:hover {
  transform: translateY(-1px);
}

.warning-button:active {
  background-color: #cfad00;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

// danger - button
.danger-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.455rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 168px;
}

.danger-button:hover,
.danger-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.danger-button:hover {
  transform: translateY(-1px);
}

.danger-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* CSS */
.secondary-button {
  align-items: center;
  background-color: #f5f5f5;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.455rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 168px;
}

.secondary-button:hover,
.secondary-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.secondary-button:hover {
  transform: translateY(-1px);
}

.secondary-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
